.swiper-slide {
  color: #40353f;
  font-weight: bold;
  text-align: center;
  line-height: 300px;
}

.swiper-slide:nth-child(1) {
  background-color: #ffc5ba;
}

.swiper-slide:nth-child(2) {
  background-color: #a9e4f4;
}

.swiper-slide:nth-child(3) {
  background-color: #fcc780;
}
